body {
    background-color: rgb(0, 174, 255);
  }

*{
    margin:0;
    /* padding:10; */
}

#time {
    font-size: 8rem;
    line-height: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}
.header{
    display: flex;
    /* flex-direction: row; */
    /* flex-grow: inherit; */
    background-color: #6EC157;
    /* justify-content:space-between;  */

    
}

.logo-wrapper{
    background-color: white;
    
    height: inherit;
    width: 200px;
    
}
#logo{
    /* align-items: center; */

    margin-left: 20px;
    margin-top: 15px;
}
.timer-wrapper{
    width:400px; 
    max-width:400px; 
    text-align: center;
    background-color: #F26925;
    /* margin-left:auto; */
    
}
.container{
    display: flex;
    
}
.question{
    /* background-color: #DB266B; */

    padding: 1rem;
    background-color: #ecebeb;
    font-size: 2vw;
    flex:1;
    height: 200px;
    
    
}
.classList{
  
   width: 200px;
}
.students{
    display: flex;
    flex-wrap: wrap;
}
.student{
    width: 200px;
    font-size: 1.5rem;
}
.selected{
    background-color: #DB266B;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    font-stretch: expanded;
    font-weight: bold;
}
.banner{
    flex:1;
    
    /* display: block; */
}
#title{
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(179, 255, 0), 0 0 5px rgb(139, 0, 19);
    font-family: 'Press Start 2P', cursive;
}

.content{
    margin: 1rem;
    
    flex:1;
}
.yes-no{
    /* align-content: center; */
    padding: 1.6rem;
    /* width: 200px; */
    display: flex;
    flex:1;
    /* text-align: center; */
    flex-direction:row;
    height: 100px;
}
#right-button{
    background-color: #6EC157;
    /* width:45%; */
    height:100%;
    /* margin-left: 0; */
    flex:1;
    border-radius: 8px;
    font-size: 2rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
#wrong-button{
    background-color: #DB266B;
    /* width:45%; */
    height: 100%;
    /* margin-right: 0; */
    flex:1;
    border-radius: 8px;
    font-size: 2rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.divider{
    width:10px;
    height:auto;
    display:inline-block;
}
.student-timer-wrapper{
    width: 50%;
    text-align: center;
    background-color: #F26925;
    margin: auto;
    border-radius: 8px;
}
#student-timer{
    font-size: 8rem;
    line-height: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}
.start-button{
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 5rem;
    line-height: .5;
    font-family: Impact, Haettenschweiler, sans-serif;
    border-radius: 8px;
}